# Quarto
/.quarto/
.Rproj.user
*_cache/
*_files/
_site/
about.qmd

# Python
__pycache__/

# Course material
**/data/*
!**/data/fetch_data.sh
!**/data/README.md
.ipynb_checkpoints/

# Pixi
.pixi/

# MacOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.VolumeIcon.icns